html{
    display: flex;
    background-color: aqua;
}

svg, object[type="image/svg+xml"] {
    width: 100%;
    height: 100%;
}



.grid{
    display: grid;
    grid-auto-flow: row;
}
.column{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: subgrid;
}



.grabbable:hover{
    cursor: grab;
}

.grabbable > * {
    position: relative;
    z-index: -100;
}

.hidden {
    display: none;
}
